<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">
    <img src="https://img.icons8.com/ios-filled/50/000000/hogwarts.png"/>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <span id="hog"class="font-semibold">Hogwarts</span>
  <body>
    <nav class="flex items-center justify-between flex-wrap bg-tan-800 p-6 ">
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <h1 id="fadein"class=" text-center font-semibold text x-large">Hello My Name is Tom Riddle</h1>
                <a href="/" id="home"class="block mt-4 lg:inl ine-block lg:mt-0 text-gray-300 hover:text-white mr-4 text-center">Home</a>
            
                    
                

                    <a  href="/login" id="login" 
                    class="block mt-4 lg:inl ine-block lg:mt-0 text-gray-300 hover:text-white mr-4 text-center">Login</a>
            </div>
        </div>
    </nav>
    <div class="flex justify-center py-4">
        <div class="w-5/6 lg:w-3/4">
            <div>
            <img src="img/Tom_Diary.png" style="width:900px;height:300px;" class="center">
        </div>