<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">
    <img src="https://img.icons8.com/ios-filled/50/000000/hogwarts.png"/>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <span id="hog"class="font-semibold">Hogwarts</span>
  <body>
    
    <form class="box" action="index.html" method="POST">
      <h1 id="fadein"class=" text-center font-semibold text x-large">Hello My Name is Tom Riddle</h1><br>
      <input id="hog" type="submit" name="" value="Login">
      <input id="hog"type="submit" name="" value="Sign Up">
      </form>
      
            <div>
            <img src="img/Tom_Diary.png" style="width:900px;height:300px;" class="center">
        </div>