
<body>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">
    <img src="https://img.icons8.com/ios-filled/50/000000/hogwarts.png"/>
    <span id="hog"class="font-semibold">Hogwarts</span>
    <link rel="stylesheet" href="css/main.css">
  

<form action='/login' method='POST'>  
    <div>
        <label id="hog" for="name">Name</label>
        <input type="name" id="name" name="name" required>
    </div>
<div>
    <label id="hog" for="email">Email</label>
    <input type="email" id="email" name="email" required>
</div>
<div>
    <label id="hog" for="password">Password</label>
    <input type="password" id="password" name="password" required>
</div>
<button href="/login" id="hog"type="submit" required >Sign Up</button>
<h1>Already A Wizard!!!</h1> <a href="/login" id="hog"type="submit">Login</a><br>
</form>

<div>
    <img id="fadein2"src="img/diary_open.jpg" style="width:900px;height:300px;" class="center">
</div>

</body>

