body {
    background-color: rgb(155, 134, 59);
}

.center {
    -webkit-animation-fadeIn: 6s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #hog {
    font-family: 'UnifrakturCook', cursive;
    font-size: x-large;
  }

  #home {
    font-family: 'UnifrakturCook', cursive;
    font-size: x-large;
  }

  #login {
    font-family: 'UnifrakturCook', cursive;
    font-size: x-large;
  }

h1{
    
    font-family: 'Jim Nightshade', cursive;
    font-size:xx-large;
    
}

@keyframes fadeIn { 
    from { opacity: 0; } 
  }
  #fadein {
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      animation: fadeIn 2s infinite alternate;
  }



